

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="/assets/picnic.css">
<link rel="stylesheet" href="/assets/styles.css">


    <title>Login</title>
</head>
<body>
    <% include ../common/header.html %>

     
<form action="/login" method="post">
    User Name <input name="username" />
    Password <input name="password" />

		<input type="hidden" name="_csrf" value="<%=csrfToken%>">

    <button type="submit">Login</button>
</form>

    <% include ../common/footer.html %>
    
</body>
</html>

