<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Edit</title>
</head>
<body>
    <form method="post" action="http://localhost/products/save">
        
        <p> Name <input name="name" 
                        value="test"
                 />

        <p> Year <input name="year" 
                        value="2010"
                 />

        <button type="submit">Save</button>
    </form>
</body>
</html>